// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Top */
	#top {
		/*background-color: _palette(dark-grey,bg);*/
		background-image: url("../../images/glitch-7.gif"); /* art from giphy-philippe roy */
		background-repeat: no-repeat;
		background-size: cover;

		.logo {
			width: 100px;
		}

		.logo-container {
			text-align: left;
		}

		.sound-toggle {
			color: yellow;
			font-size: 50px;
			position: fixed;
			top: 50px;
			right: 200px;
		}	

		@include breakpoint(small) {
			.logo {
				width: 150px;
			}

			.logo-container {
				text-align: center;
			}
			.sound-toggle {
				color: yellow;
				font-size: 50px;
				position: fixed;
				top: 50px;
				right: 20px;
			}		
		}
	}