// skel-baseline v3.0.0 | (c) n33 | skel.io | MIT licensed

@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Top */
	#top {
		/*background-color: _palette(dark-grey,bg);*/
		background-image: url("../../images/glitch-7.gif"); /* art from giphy-philippe roy */
		background-repeat: no-repeat;
		background-size: cover;

		.logo {
			width: 160px;
		}

		.logo-container {
			text-align: left;
		}

		@include breakpoint(small) {
			.logo {
				width: 320px;
			}

			.logo-container {
				text-align: center;
			}			
		}
	}